@model Mvc5Application1.Extensions.RadioModel

<div class="form-group">
    <span class="col-md-4 control-label">@Model.Label</span>
    <span class="col-md-6" style="color: black">
        <span>
            @Model.InputYes
            Yes
        </span>
        <span>
            @Model.InputNo
            No
        </span>
    </span>
</div>
